*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}



.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : linear-gradient(to top left, rgb(49, 49, 49), rgb(27, 27, 27));
    width: 100%;
    height: 100vh;
}


.my_img{
    height: 250px;
    width: 220px;
    background-color: #6C757D;
    border-radius: 50%;
    margin: 3%;
}


.header_cont{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}
.firsti{
    font-size: 50px;
    padding: 10px;
}

.header_info{
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    height: 60px;
    background-color: #6C757D;
    margin: 2vw;
    box-shadow: 0px 4px 10px rgb(104, 104, 104);
    
}
.btn:hover{
    box-shadow: 0px 1px 6px rgb(104, 104, 104);
}




.about{
    background : linear-gradient(to top left, rgb(27, 27, 27), rgb(49, 49, 49));
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.about_tit{
    font-size: 35px;
    margin-bottom: 8vh;
}
.about_txt{
    width: 70%;
    font-size: 20px;
    line-height: 5vh;
}




.skills{
    background : linear-gradient(to top left, rgb(49, 49, 49), rgb(27, 27, 27));
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
    
}
.skl{
    width: 280px;
    height: 350px;
    background-color: #6C757D;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgb(104, 104, 104);
}

    .my_work{
        background : linear-gradient(to top left, rgb(27, 27, 27), rgb(49, 49, 49));
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 100px 0px;
        
    }
    .project{
        width: 280px;
        height: 350px;
        background-color: #6C757D;
        margin: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px 5px;
        border-radius: 15px;


}

.cert{
    background : linear-gradient(to top left, rgb(27, 27, 27), rgb(49, 49, 49));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
    
}
.cer{
    width: 550px;
    height: 350px;
    background-color: #6C757D;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    border-radius: 15px;


}
.img1{
    width: 25%;
    height: 40%;
    background-image: url(./img/hasht.webp);
    background-position: center;
    background-size: contain;
    
}
.img2{
    width: 25%;
    height: 20%;
    background-image: url(./img/zepter.webp);
    background-position: center;
    background-size: contain;
    
}

.img4{
    width: 15%;
    height: 20%;
    background-image: url(./img/orang.webp);
    background-position: center;
    background-size: contain;
    
}

.last{
    background : linear-gradient(to top left, rgb(27, 27, 27), rgb(49, 49, 49));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.email{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    gap: 15px;
    height: 50vh;
    padding: 80px 0px;
}
.lst1{
    width: 100%;
    height: 35%;
}
.lst2{
    width: 100%;
    height: 60%;
}
 .lst1 ,.lst2,.lst3{
    border-radius: 10px;
 }

 footer{
    background : linear-gradient(to top left, rgb(27, 27, 27), rgb(49, 49, 49));
width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .lasti{
    font-size: 30px;
    padding: 10px;
 }


@media screen and (max-width: 600px){
    .about_tit{
        font-size: 25px;
        margin-bottom: 6vh;
    }
    .about_txt{
        width: 80vw;
    font-size: 20px;
    line-height: 4vh;
    }
    .cer{
        width: 350px;
    }
    .lasti{
        font-size: 20px;
        padding: 8px;
    }
    .Contact{
        font-size: 15px;
    }
}
